:root {
  --app-color-link: #61dafb;
}

.app {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: black;
  width: 100%;
}

.app section, .app header {
  margin-bottom: 2rem;
}

.app button {
  font-size: 2rem;
  margin-left: 0.5rem;
}
