:root {
  --app-color-link: #61dafb;
}

.app {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: black;
  width: 100%;
}

.app section, .app header {
  margin-bottom: 2rem;
}
.app .question .choice {
  margin: 0 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.app button {
  font-size: 2rem;
}

.app .question .other-actions {
  margin: 2rem;
}

.app .question .other-actions button {
  font-size: 2rem;
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
}

.app .stats {
  text-align: left;
  font-size: 1rem;
}

.app .stats table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

.app .stats td {
  border: 1px solid black;
  padding: 0.5rem;
  text-align: left;
}

.app .choice-feedback button {
  font-size: 1.25rem;
}

